{% extends "base.html" %} 
{% block titulo %} Esta es la página de inicio {% endblock %} 
{% block navegador%}
    {% include "navegador.html"%}
{% endblock %}
{% block body %}

<form action="actualiza" method="get"> {% csrf_token %}
    <tr>
        <td>Rut busqueda</td>
        <td><input type="text" name="rut_busqueda" placeholder="Ingrese rut"/></td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit" value="Buscar Rut"/></td>
    </tr>
</form>
<h1>{{msj}}</h1>
<div style="visibility:{{form2}}">
<form action="actualiza" method="post" > {% csrf_token %}
    <table>
        <tr>
            <td>Rut</td>
            <td><input type="text" name="rut" readonly="yes" value="{{p.rut}}"/></td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td><input type="text" name="nombre" value="{{p.nombre}}"/></td>
        </tr>
        <tr>
            <td>Contraseña</td>
            <td><input type="password" name="contrasenna" value="{{p.contrasenna}}"/></td>
        </tr>
        <tr>
            <td>Correo Electronico</td>
            <td><input type="email" name="email" value="{{p.correo_electronico}}"/></td>
        </tr>
        <tr>
            <td>Direccion</td>
            <td><input type="text" name="direccion" value="{{p.direccion}}"/></td>
        </tr>
        <tr>
            <td>Telefono</td>
            <td><input type="text" name="telefono" value="{{p.telefono}}"/></td>
        </tr>
        <tr>
            <td>Perfil</td>
            <td><input type="text" name="perfil" value="{{p.perfil}}"/></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Actualizar"/>
            </td>
            <td>
                <input type="reset" value="Cancelar"/>
            </td>
        </tr>
    </table>
</form>
</div>
{% endblock %}