{% extends "base.html" %} 
{% block titulo %} Esta es la página de inicio {% endblock %} 
{% block navegador%}
    {% include "navegador.html"%}
{% endblock %}
{% block body %}





<div class = "container">
    <form action="elimina" method="get"> {% csrf_token %}
    <div class="row g-3">
        <div class="col-xs-12 col-sm-6">
            <h2>Formulario eliminar clientes</h2>
            <label for="">Rut a eliminar</label>
            <input type="text" class="form-control" name="rut_busqueda" placeholder="Ingrese rut">

         
        </div>
        <div class="col-xs-12">
            <input class="btn btn-primary" type="submit" value="Eliminar persona">
            <input type="reset" class="btn btn-danger" value="Limpiar">
        </div>
    </div>
</form>
<h3>{{msj}}</h3>
</div>


{% endblock %}
